<div class="jumbotron jumbotron-fluid">

    <div class="container jumbotron jumbotron-fluid">

        <h1 class="display-4 text-center">Eat Da Burger</h1>

        <form class="create-form">
            <div class="form-group d-flex justify-content-center">
                <label for="burg">Burger Name: </label>
                <input type="text" id="burg" name="name" placeholder="Input Here">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Add Burger</button>
            </div>
        </form>

        <div class="row">
            <div class="col-xl-6">

                <h2 class="text-center">Uneaten Burgers</h2>

                <div class="card">
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#unless devoured}}

                        <li class="list-group-item">{{burger_name}}</li>
                        {{!-- REVISE THIS --}}
                        {{!-- REFERENCE Cat-Block for how to display the list item... --}}
                        {{!-- And the button to swap/revise the state of burger devoured --}}

                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>

            </div>

            <div class="col-xl-6">

                <h2 class="text-center">Eaten Burgers</h2>

                <div class="card">
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#if devoured}}

                        <li class="list-group-item">{{burger_name}}</li>
                        {{!-- REVISE THIS --}}
                        {{!-- REFERENCE Cat-Block for how to display the list item... --}}
                        {{!-- And the button to swap/revise the state of burger devoured --}}
                        {{!-- When it's on the devoured side, there is also a delete button --}}


                        {{/if}}
                        {{/each}}
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>