<h1>Eat Da Burger!</h1>

{{!-- Hero Image --}}
{{!-- Maybe the burger import form goes over the image?! --}}
{{!-- Add the burger input form --}}


{{!-- Column for uneaten burgers --}}


{{!-- Column for eaten burgers --}}

