

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Eat Da Burger</h1>
    </div>
</div>



{{!-- Hero Image --}}
{{!-- Maybe the burger import form goes over the image?! --}}
{{!-- Add the burger input form --}}


{{!-- Column for uneaten burgers --}}


{{!-- Column for eaten burgers --}}